@import './reset';
@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: $background;
    font-family: 'Roboto', sans-serif;
    padding: 63px 28px;

    @media screen and (min-width: 720px){
        padding: 43px 75px;
    }
}

