:export {
  normal: #ddcbd0;
  fighting: #fcc1b0;
  flying: #b2d2eb;
  poison: #cfb7ed;
  ground: #f4d1a6;
  rock: #c5aea8;
  bug: #c1e0c8;
  ghost: #d7c2d7;
  steel: #c2d4ce;
  fire: #edc2c4;
  water: #cbd5ed;
  grass: #c0d4c8;
  electric: #e2e2a0;
  phychic: #ddc0cf;
  ice: #c7d7df;
  dragon: #cadcdf;
  dark: #c6c5e3;
  fairy: #e4c0cf;
  unknown: #c0dfdd;
  shadow: #cacaca;
}
